<!--Add guests ТЗ этап 2-->
-var guests = [{name: "ARUTIUNYAN Litit", func: "RGI"}, {name: "SARGSYAN Silva", func: "RGI1"}, {name: "SAVKINA irina", func: "RGI2", checked: true}, {name: "VODOPYANOVA Yulia", func: "RGI3"}]
.popup(class='modal', id='modalGuests')
    .wrapper.modal__content
        .popup_wrap.content_block
            form.form(id="ADD_GUESTS_FORM" name="ADD_GUESTS_FORM" action='', method='')
                .popup_block.popup_head
                    .control
                        span Please, choose 2 guests
                .popup_block.popup_head
                    .form-group
                        .modal__search
                            input.form-control(type='text', name='SEARCH', placeholder='Name')
                        .drop-select.modal__select
                            button.drop-select__btn(type="button") 
                                span.val Function
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="5" viewBox="0 0 10 5"><defs><path id="kcm3a" d="M984 361l5 5 5-5h-10z"/></defs><g><g transform="translate(-984 -361)"><use xlink:href="#kcm3a"/></g></g></svg>
                            .drop-select__menu
                                .tooltip__arrow
                                -var select_arr = ["Head of Delegation", "Senior gymnast RGI", "Senior gymnast RGG", "Coach RGI", "Senior gymnast RGI","Senior gymnast RGG", "Coach RGI", "Senior gymnast RGI", "Senior gymnast RGG", "Coach RGI"]
                                    ul.drop-select__list.tooltip__content
                                        each item in select_arr
                                            li.drop-select__item
                                                label.drop-select__label=item
                                                    input(type="checkbox" value=item)
                                                    div(class="form_check form-group_block")
                .popup_block.popup_body
                    .guests
                        ul.guests__list
                            each item, i in guests
                                li.guests__item
                                    label.guests__label(class=(item.checked?"is_disabled": null))
                                        input(type="checkbox" value=item.name checked=item.checked)
                                        div(class="form_check")
                                        p.guests__name=item.name
                                        p.guests__func=item.func
                .popup_block.popup_footer
                    .btn-group
                        button.btn.btn--light(type='button', onclick='$(this).parents(".popup").fadeOut();') Cancel
                        button.btn.btn--confirm(type='submit' disabled) Add
