<div class="registration_head registration_block content_block">
    <ul class="registration_timetable">
        <li class="date">14-22 July 2019</li>
        <li class="location">Moscow (RUS)</li>
        <li class="location">39 Countries</li>
        <li class="location">442 Persons</li>
    </ul>
    <div class="registration_title-wrap">
        <a href="#" class="registration_title">
            2018 Moscow Rhythmic Gymnastics International Tournament for Seniors
        </a>
        <div class="registration_type">
            <!-- <span class="text">Rhythmic Gymnastics</span> -->
            <ul class="tags">
                <li class="tags_item">RGI</li>
                <li class="tags_item">RGG</li>
            </ul>
        </div>
    </div>
    <div class="registration_status">
        <a href="#" class="status status--in-progress">Registration in progress</a>
        <div class="remain">will be closed in 15d 08:32 for BEL, ISR, JPN</div>
    </div>
</div>