<!-- BEGIN header -->
<header class='header'>
    <div class="header_top">
        <div class="wrapper">
            <div class="header_nav">
                <div class="logo"><span class="logo_text logo_text--dark">RG</span> <span class="logo_text logo_text--blue">registration.</span></div>
                <nav class="header_menu">
                    <a href="#" class="header_link header_user">RUS</a>
                    <a href="#" class="header_link header_logout">Logout</a>
                </nav>
            </div>
        </div>
    </div>
    <div class="header_bottom">
        <div class="header_gradient"></div>
    </div>
</header>
<!-- END header -->