<!-- BEGIN contest-list -->
<div class="contest-list">
    <div class="contest-list_menu">
        <ul class="content_block">
            <li class="active">Competitions <a href="#" class="add"></a></li>
            <li>Access</li>
        </ul>
    </div>
    <div class="contest-list_list">
        <div class="contest-list_item">
            @@include('contest-head.html')
        </div>
        <div class="contest-list_item">
            @@include('contest-head.html')
        </div>
        <div class="contest-list_item">
            @@include('contest-head.html')
        </div>
    </div>
</div>
<!-- END contest-list -->