<!-- media modal -->
<div class="media-modal">
    <div class="media-modal_wrap">
        <img class="media-modal_img" src="" alt="img">
        <div class="close" title="close"></div>
    </div>
</div>
<!-- END: media modal -->