<!--image crop ТЗ этап 2-->
<div class="popup modal" id="modalImgCrop">
  <div class="wrapper modal__content">
    <div class="popup_wrap content_block">
      <form class="form" id="ADD_CROPED_IMG" name="ADD_CROPED_IMG" action="" method="">
        <div class="popup_block popup_head">
          <div class="control"><span>Uploading Photo</span></div>
        </div>
        <div class="popup_block popup_body">
          <div class="image-cropper">
            <div class="image-cropper__editer"><img class="image-editer__img" src="" alt="photo.png"/>
              <div class="zoom">
                <div class="zoom__range"></div>
                <div class="zoom__icon zoom__in">
                  <svg id="Layer_1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                    <g>
                      <path stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M239.418,157.203h-65.423V91.78                                            c0-4.169-3.379-7.548-7.547-7.548c-4.169,0-7.548,3.379-7.548,7.548v65.423H93.477c-4.168,0-7.547,3.379-7.547,7.547                                            c0,4.168,3.379,7.548,7.547,7.548H158.9v65.422c0,4.169,3.379,7.548,7.548,7.548c4.168,0,7.547-3.379,7.547-7.548v-65.422h65.423                                            c4.168,0,7.548-3.38,7.548-7.548C246.965,160.582,243.586,157.203,239.418,157.203z"></path>
                      <path d="M501.576,465.105L288.961,261.856c22.135-28.091,34.181-62.535,34.181-98.851c0-42.774-16.657-82.987-46.902-113.232                                            C245.993,19.528,205.78,2.871,163.006,2.871S80.02,19.528,49.773,49.773C19.527,80.019,2.871,120.232,2.871,163.005                                            c0,42.775,16.657,82.988,46.902,113.234c30.247,30.245,70.46,46.902,113.234,46.902c36.315,0,70.759-12.046,98.85-34.181                                            l203.249,212.615c10.071,10.071,26.399,10.071,36.471,0C511.647,491.504,511.647,475.176,501.576,465.105z M256.701,256.7                                            c-25.027,25.027-58.301,38.81-93.695,38.81s-68.668-13.783-93.695-38.81s-38.81-58.301-38.81-93.695                                            c0-35.392,13.783-68.668,38.81-93.694c25.027-25.027,58.301-38.81,93.695-38.81s68.668,13.783,93.695,38.81                                            c25.027,25.026,38.81,58.301,38.81,93.694C295.511,198.399,281.728,231.673,256.701,256.7z"></path>
                    </g>
                  </svg>
                </div>
                <div class="zoom__icon zoom__out">
                  <svg id="Layer_2" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                    <g>
                      <path d="M501.427,464.977L288.941,261.852c22.121-28.074,34.16-62.497,34.16-98.79c0-42.748-16.647-82.936-46.874-113.163                                            C245.999,19.672,205.811,3.025,163.063,3.025S80.127,19.672,49.898,49.899C19.671,80.126,3.025,120.314,3.025,163.062                                            c0,42.749,16.647,82.938,46.874,113.165c30.228,30.227,70.417,46.874,113.165,46.874c36.293,0,70.716-12.039,98.79-34.16                                            l203.125,212.486c10.065,10.065,26.383,10.065,36.449,0C511.491,491.361,511.491,475.042,501.427,464.977z M256.701,256.7                                            c-25.012,25.012-58.266,38.786-93.638,38.786S94.437,281.712,69.425,256.7c-25.012-25.012-38.786-58.266-38.786-93.638                                            c0-35.371,13.775-68.626,38.786-93.637c25.012-25.012,58.266-38.786,93.638-38.786s68.626,13.775,93.638,38.786                                            c25.012,25.01,38.786,58.266,38.786,93.637C295.487,198.434,281.713,231.688,256.701,256.7z"></path>
                      <path d="M248.214,164.472c0,6.54-5.302,11.842-11.842,11.842H91.349c-6.54,0-11.842-5.302-11.842-11.842l0,0                                            c0-6.54,5.302-11.842,11.842-11.842h145.022C242.912,152.63,248.214,157.932,248.214,164.472L248.214,164.472z"></path>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
            <div class="image-cropper__desc">
              The selected area will be used for printing accreditations and other
              purposes, including for display on the scoreboard.
              Inside the area you can move the photo, reduce or enlarge it.
              The face in the photo must be inside the silhouette.
            </div>
          </div>
        </div>
        <div class="popup_block popup_footer">
          <div class="btn-group">
            <button class="btn btn--light" type="button" onclick="$(this).parents(&quot;.popup&quot;).hide();$(&quot;.image-editer__img&quot;).cropper(&quot;destroy&quot;);$(&quot;#popupAddPerson [type=file]&quot;).val(&quot;&quot;)">Cancel</button>
            <button class="btn btn--confirm" type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>