<!--Add guests ТЗ этап 2-->
<div class="popup modal" id="modalGuests">
  <div class="wrapper modal__content">
    <div class="popup_wrap content_block">
      <form class="form" id="ADD_GUESTS_FORM" name="ADD_GUESTS_FORM" action="" method="">
        <div class="popup_block popup_head">
          <div class="control"><span>Please, choose 2 guests</span></div>
        </div>
        <div class="popup_block popup_head">
          <div class="form-group">
            <div class="modal__search">
              <input class="form-control" type="text" name="SEARCH" placeholder="Name"/>
            </div>
            <div class="drop-select modal__select">
              <button class="drop-select__btn" type="button"> <span class="val">Function</span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="5" viewBox="0 0 10 5"><defs><path id="kcm3a" d="M984 361l5 5 5-5h-10z"/></defs><g><g transform="translate(-984 -361)"><use xlink:href="#kcm3a"/></g></g></svg></button>
              <div class="drop-select__menu">
                <div class="tooltip__arrow"></div>
                <ul class="drop-select__list tooltip__content">
                  <li class="drop-select__item">
                    <label class="drop-select__label">Head of Delegation
                      <input type="checkbox" value="Head of Delegation"/>
                      <div class="form_check form-group_block"></div>
                    </label>
                  </li>
                  <li class="drop-select__item">
                    <label class="drop-select__label">Senior gymnast RGI
                      <input type="checkbox" value="Senior gymnast RGI"/>
                      <div class="form_check form-group_block"></div>
                    </label>
                  </li>
                  <li class="drop-select__item">
                    <label class="drop-select__label">Senior gymnast RGG
                      <input type="checkbox" value="Senior gymnast RGG"/>
                      <div class="form_check form-group_block"></div>
                    </label>
                  </li>
                  <li class="drop-select__item">
                    <label class="drop-select__label">Coach RGI
                      <input type="checkbox" value="Coach RGI"/>
                      <div class="form_check form-group_block"></div>
                    </label>
                  </li>
                  <li class="drop-select__item">
                    <label class="drop-select__label">Senior gymnast RGI
                      <input type="checkbox" value="Senior gymnast RGI"/>
                      <div class="form_check form-group_block"></div>
                    </label>
                  </li>
                  <li class="drop-select__item">
                    <label class="drop-select__label">Senior gymnast RGG
                      <input type="checkbox" value="Senior gymnast RGG"/>
                      <div class="form_check form-group_block"></div>
                    </label>
                  </li>
                  <li class="drop-select__item">
                    <label class="drop-select__label">Coach RGI
                      <input type="checkbox" value="Coach RGI"/>
                      <div class="form_check form-group_block"></div>
                    </label>
                  </li>
                  <li class="drop-select__item">
                    <label class="drop-select__label">Senior gymnast RGI
                      <input type="checkbox" value="Senior gymnast RGI"/>
                      <div class="form_check form-group_block"></div>
                    </label>
                  </li>
                  <li class="drop-select__item">
                    <label class="drop-select__label">Senior gymnast RGG
                      <input type="checkbox" value="Senior gymnast RGG"/>
                      <div class="form_check form-group_block"></div>
                    </label>
                  </li>
                  <li class="drop-select__item">
                    <label class="drop-select__label">Coach RGI
                      <input type="checkbox" value="Coach RGI"/>
                      <div class="form_check form-group_block"></div>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="popup_block popup_body">
          <div class="guests">
            <ul class="guests__list">
              <li class="guests__item">
                <label class="guests__label">
                  <input type="checkbox" value="ARUTIUNYAN Litit"/>
                  <div class="form_check"></div>
                  <p class="guests__name">ARUTIUNYAN Litit</p>
                  <p class="guests__func">RGI</p>
                </label>
              </li>
              <li class="guests__item">
                <label class="guests__label">
                  <input type="checkbox" value="SARGSYAN Silva"/>
                  <div class="form_check"></div>
                  <p class="guests__name">SARGSYAN Silva</p>
                  <p class="guests__func">RGI1</p>
                </label>
              </li>
              <li class="guests__item">
                <label class="guests__label is_disabled">
                  <input type="checkbox" value="SAVKINA irina" checked="checked"/>
                  <div class="form_check"></div>
                  <p class="guests__name">SAVKINA irina</p>
                  <p class="guests__func">RGI2</p>
                </label>
              </li>
              <li class="guests__item">
                <label class="guests__label">
                  <input type="checkbox" value="VODOPYANOVA Yulia"/>
                  <div class="form_check"></div>
                  <p class="guests__name">VODOPYANOVA Yulia</p>
                  <p class="guests__func">RGI3</p>
                </label>
              </li>
            </ul>
          </div>
        </div>
        <div class="popup_block popup_footer">
          <div class="btn-group">
            <button class="btn btn--light" type="button" onclick="$(this).parents(&quot;.popup&quot;).fadeOut();">Cancel</button>
            <button class="btn btn--confirm" type="submit" disabled="disabled">Add</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>