<!-- BEGIN popup person-->
<div class="popup @@class" id="@@id">
    <div class="wrapper">
        <div class="popup_wrap content_block">
            <div class="popup_block popup_head">
                <div class="control">
                    <span class="control_item--bold">@@name</span>
                </div>
            </div>
            <form action="" method="" class="form">
                <div class="popup_block popup_body">
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" class="form-control hidden" name="country" id="country" placeholder="">
                        <div class="form-group_block">RUS</div>
                        <span class="error_label">Incorrect</span>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" name="lastName" id="lastName" placeholder=""
                            data-required>
                        <span class="error_label">Incorrect</span>
                    </div>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" name="firstName" id="firstName" placeholder=""
                            data-required>
                        <span class="error_label">Incorrect</span>
                    </div>
                    <div class="form-group-wrap">
                        <div class="form-group form-date">
                            <label for="ARRIVAL_DATE">Arrival Date</label>
                            <input class="form-control" type="text" name="ARRIVAL_DATE" data-required="" data-attr="date" readonly>
                            <span class="error_label">Incorrect</span>
                        </div>
                        <div class="form-group form-time">
                            <label for="ARRIVAL_TIME">Arrival Time</label>
                            <input class="form-control" type="text" name="ARRIVAL_TIME" data-required="" data-attr="time">
                            <span class="error_label">Incorrect</span>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="TYPE_TRANSPORT">Plane/Train
                            <div class="icon-info">
                                <div class="tooltip">
                                    <div class="tooltip__arrow"></div>
                                    <div class="tooltip__content">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto quos quam consectetur aliquam iure animi rem expedita nesciunt quis non unde illum delectus ipsum, ipsa asperiores eaque mollitia quae recusandae.</p>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                    </div>
                                </div>
                            </div>
                        </label>
                        <input class="form-control hidden" type="radio" value="7" name="TYPE_TRANSPORT" data-required="">
                        <div tabindex="0" class="form_check form_check--radio form-group_block" onclick="onInputClick($(this), event)"></div>
                        Plane
                        <input class="form-control hidden" type="radio" value="8" name="TYPE_TRANSPORT" data-required="">
                        <div class="form_check form_check--radio form-group_block" onclick="onInputClick($(this), event)"></div>
                        Train <span class="error_label">Incorrect</span>
                    </div>
                    <!-- ТЗ этап 2 -->
                    <div class="form-group">
                        <label for="photo">Guests</label>
                        <input type="text" name="ADD_GUESTS" data-required hidden>
                        <a href="#modalGuests" class="add" data-target="modal">Add guests</a>
                        <span class="error_label">Incorrect</span>
                    </div>
                    <!-- end ТЗ этап 2 -->
                    <div class="form-group">
                        <label for="func">Function</label>
                        <input type="text" class="form-control hidden val" name="func" id="func" placeholder=""
                            data-required>
                        <span class="error_label">Incorrect</span>
                        <div class="form-select form-control">
                            <a href="#" class="form-select_toggle toggle name">
                            </a>
                            <div class="form-select_menu hidden">
                                <div class="form-select_item">
                                    <input type="radio" name="func" id="func1" value="RGI Gymnast">
                                    <label for="func1">RGI Gymnast</label>
                                </div>
                                <div class="form-select_item disabled">
                                    <input type="radio" name="func" id="func2" value="RGI">
                                    <label for="func2">RGI</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="func">Function</label>
                        <input type="text" class="form-control hidden val" name="func" id="func" placeholder=""
                            data-required>
                        <span class="error_label">Incorrect</span>
                        <div class="form-select form-control">
                            <a href="#" class="form-select_toggle toggle name">
                            </a>
                            <div class="form-select_menu hidden">
                                <div class="form-select_item">
                                    <input type="radio" name="func" id="func1" value="RGI Gymnast">
                                    <label for="func1">RGI Gymnast</label>
                                </div>
                                <div class="form-select_item disabled">
                                    <input type="radio" name="func" id="func2" value="RGI">
                                    <label for="func2">RGI</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="photo">Photo</label>
                        <input type="file" class="form-control" name="photo" id="photo" placeholder="" accept=".jpg, .png"
                            data-required>
                        <a href="#" onclick="onInputClick($(this), event)" class="upload form-group_block">Upload</a>
                        <div class="img-preview hidden form-group_block">
                            <img src="" alt="photo">
                            <a href="#" class="del"></a>
                        </div>
                        <span class="error_label">Incorrect</span>
                        <!-- ТЗ этап 2 фото ошибка формата -->
                        <span class="error__format"></span>
                    </div>
                    <div class="form-group">
                        <label for="passport">Passport</label>
                        <input type="file" class="form-control" name="passport" id="passport" placeholder="" accept=".jpg, .png, .pdf"
                            data-required>
                        <a href="#" onclick="onInputClick($(this), event)" class="upload form-group_block">Upload</a>
                        <div class="img-preview hidden form-group_block">
                            <img src="" alt="photo">
                            <a href="#" class="del"></a>
                        </div>
                        <span class="error_label">Incorrect</span>
                    </div>
                    <div class="form-group">
                        <label for="visa">Visa
                        </label>
                        <input tabindex="0" type="checkbox" class="form-control" name="visa" id="visa" placeholder="">
                        <div tabindex="-1"  class="form_check form-group_block" onclick="onInputClick($(this), event)"></div>
                    </div>
                    <div class="form-group" id="reciept_visa">
                        <label for="RECIEPT_VISA">Consulate                                                            <div class="icon-info ">
                                    <div class="tooltip">
                                        <div class="tooltip__arrow"></div>
                                        <div class="tooltip__content">
                                            <p>Select the location of the consulate where you would like to receive a visa. <br><br>If the consulate is not listed, select the option (Not in list) and contact the organizer.</p>
                                        </div>
                                    </div>
                                </div>
                                                    </label>
                        <input type="text" class="form-control hidden val" name="RECIEPT_VISA" id="RECIEPT_VISA" data-required="">
                        <div class="form-select form-control">
                            <a href="#" class="form-select_toggle toggle name"></a>
                            <div class="form-select_menu is_scroll" id="select-reciept_visa">
                                <a href="#" class="scroll-top"></a>
		                        <div class="form-select_menu-wrap ">
		                            <div class="form-select_item">
    		                            <input type="radio" name="RECIEPT_VISA" id="1488" value="1488" data-visa="on">
    		                            <label for="1488">(Not in list)</label>
    		                        </div>
    							
    		                        <div class="form-select_item">
    		                            <input type="radio" name="RECIEPT_VISA" id="1489" value="1489" data-visa="on">
    		                            <label for="1489">Abkhazia, Sukhum</label>
    		                        </div>
    							
    		                        <div class="form-select_item">
    		                            <input type="radio" name="RECIEPT_VISA" id="1490" value="1490" data-visa="on">
    		                            <label for="1490">Afghanistan, Kabul</label>
    		                        </div>
    							
    		                        <div class="form-select_item">
    		                            <input type="radio" name="RECIEPT_VISA" id="1491" value="1491" data-visa="on">
    		                            <label for="1491">Afghanistan, Mazar-i-Sharif</label>
    		                        </div>
    							
    		                        <div class="form-select_item">
    		                            <input type="radio" name="RECIEPT_VISA" id="1492" value="1492" data-visa="on">
    		                            <label for="1492">Albania, Tirana</label>
                                    </div>
		                        </div>
                                <a href="#" class="scroll-bottom"></a>
                            </div>
                        </div>                        
                            <span class="error_label">Incorrect value</span>
                        <span class="error__format"></span>
                    </div>
                </div>
                <div class="popup_block popup_footer">
                    <button type="button" class="btn btn--del" onclick="actionConfirm($(this));">Delete Person</button>
                    <div class="btn-group">
                        <button type="button" class="btn btn--light" onclick="closePopup($(this));">Cancel</button>
                        <button type="submit" class="btn btn--confirm">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END popup person-->