<!-- BEGIN popup confirm-->
<div class="popup @@class" id="@@id">
    <div class="wrapper">
        <div class="popup_wrap content_block">
            <form action="/" method="POST" class="form">
                <div class="popup_block popup_body">
                    <p>Are you sure?</p>
                </div>
                <div class="popup_block popup_footer">
                    <button type="button" class="btn" onclick="closePopup($(this));">Cancel</button>
                    <button type="submit" class="btn btn--confirm" data-attr="removeItem">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END popup confirm-->