<!-- BEGIN registration -->
<div class='registration'>
    <div class="registration_head registration_block content_block">
        <h1 class="registration_title">
            1st FIG Rhythmic Gymnastics Junior World Championships Individual Team and Group
            competitions
        </h1>
        <div class="registration_desc">
            <div class="registration_type">
                <span class="text">Rhythmic Gymnastics</span>
                <ul class="tags">
                    <li class="tags_item">RGI</li>
                    <li class="tags_item">RGG</li>
                </ul>
            </div>
            <ul class="registration_timetable">
                <li class="date">14-22 July 2019</li>
                <li class="location">Moscow (RUS)</li>
            </ul>
            <div class="registration_status">
                <div class="status status--in-progress">Registration in progress</div>
                <div class="remain">will be closed in 15d 08:32</div>
            </div>
        </div>
    </div>
    <ul class="registration_tabs registration_block content_block">
        <li class="registration_tab active">Accreditation</li>
        <li class="registration_tab">Music</li>
        <li class="registration_tab">Transport</li>
        <li class="registration_tab">Accommodation</li>
        <li class="registration_tab">Meals</li>
        <li class="registration_tab">Invoice</li>
    </ul>
    <div class="registration_tables registration_block">
        <div class="registration_table active">
            @@include('table-accredit.html')
            <!-- pagination -->
            <div class="registration_block">
                <div class="navigation">
                    <div class="navigation_item"><a href="#" class=" start">First</a></div>
                    <div class="navigation_item">
                        <div class=" pagination">
                            <a href="#" class="pagination_item prev"></a>
                            <ul class="pagination_item list">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                            </ul>
                            <a href="#" class="pagination_item next"></a>
                        </div>
                    </div>
                    <div class="navigation_item"><a href="#" class=" finish">Last</a></div>
                </div>
            </div>
            <!-- END registration -->
        </div>
        <div class="registration_table music">
            @@include('table-music.html')
        </div>
        <div class="registration_table transport">
            @@include('table-transport.html')
        </div>
        <div class="registration_table accom">
            @@include('table-accom.html')
        </div>
        <div class="registration_table meals">
            @@include('table-accom.html')
        </div>
        <div class="registration_table invoice">
            @@include('table-invoice.html')
        </div>
    </div>
</div>