<!-- BEGIN transport -->
<div class='data-table content_block transport'>
    <div class="data-table_head data-table_block">
        <div class="control">
            <div class="data-table_name control_item control_item--bold">Arrivals</div>
            <span class="control_item control_item--bold">3 Person(s)</span>
            <a href="#" class="add control_item">Add</a>
        </div>
        <div class="status is-closed">This section is closed</div>
        <ul class="options">
            <li><a href="#">XLS</a></li>
            <li><a href="#">PDF</a></li>
        </ul>
    </div>
    <div class="data-table_table data-table_block">
        <ul class="data-table_title data-table_row data-table_block">
            <li class="data-table_col data-table_col--auto country">
                <div class="val">COUNTRY</div>
            </li>
            <li class="data-table_col sort-date sort">
                <div class="val ">DATE</div>
                <a href="#" class="sort_item" data-attr="sort"></a>
            </li>
            <li class="data-table_col sort-date sort">
                <div class="val">TIME</div>
            </li>
            <li class="data-table_col ">
                <div class="val">VEHICLE</div>
            </li>
            <li class="data-table_col ">
                <div class="val">TO</div>
            </li>
            <li class="data-table_col">
                <div class="val">NUMBER</div>
            </li>
            <li class="data-table_col">
                <div class="val">DEPARTURE</div>
            </li>
            <li class="data-table_col">
                <div class="val">PEOPLE</div>
            </li>
            <li class="data-table_col">
                <div class="val">LUGGAGE</div>
            </li>
        </ul>
        <div class="data-table_row data-table_data data-table_block">
            <div class="data-table_col data-table_col--auto country" data-label="COUNTRY">
                <div class="val">
                    <span>RUS</span>
                    <span class="icon"><img src="assets/img/rockandroll.png" alt=""></span>
                </div>
            </div>
            <div class="data-table_col " data-label="DATE">
                <div class="val val--trunc">12.07.2019</div>
            </div>
            <div class="data-table_col " data-label="TIME">
                <div class="val val--trunc">17:40</div>
            </div>
            <div class="data-table_col" data-label="VEHICLE">
                <div class="val">Plane</div>
            </div>
            <div class="data-table_col " data-label="TO">
                <div class="val">SVO</div>
            </div>
            <div class="data-table_col" data-label="NUMBER">
                <div class="val">AF4908</div>
            </div>
            <div class="data-table_col" data-label="DEPARTURE">
                <div class="val">PARIS</div>
            </div>
            <div class="data-table_col" data-label="PEOPLE">
                <div class="val">14</div>
            </div>
            <div class="data-table_col" data-label="LUGGAGE">
                <div class="val">15</div>
            </div>
        </div>
        <div class="data-table_row data-table_data data-table_block">
            <div class="data-table_col data-table_col--auto country" data-label="COUNTRY">
                <div class="val">
                    <span>RUS</span>
                    <span class="icon"><img src="assets/img/rockandroll.png" alt=""></span>
                </div>
            </div>
            <div class="data-table_col " data-label="DATE">
                <div class="val val--trunc">12.07.2019</div>
            </div>
            <div class="data-table_col " data-label="TIME">
                <div class="val val--trunc">17:40</div>
            </div>
            <div class="data-table_col" data-label="VEHICLE">
                <div class="val">Plane</div>
            </div>
            <div class="data-table_col " data-label="TO">
                <div class="val">SVO</div>
            </div>
            <div class="data-table_col" data-label="NUMBER">
                <div class="val">AF4908</div>
            </div>
            <div class="data-table_col" data-label="DEPARTURE">
                <div class="val">PARIS</div>
            </div>
            <div class="data-table_col" data-label="PEOPLE">
                <div class="val">14</div>
            </div>
            <div class="data-table_col" data-label="LUGGAGE">
                <div class="val">15</div>
            </div>
        </div>
    </div>
</div>
<div class='data-table content_block transport'>
    <div class="data-table_head data-table_block">
        <div class="control">
            <div class="data-table_name control_item control_item--bold">Departures</div>
            <span class="control_item control_item--bold">3 Person(s)</span>
            <a href="#" class="add control_item">Add</a>
        </div>
        <ul class="options">
            <li><a href="#">XLS</a></li>
            <li><a href="#">PDF</a></li>
        </ul>
    </div>
</div>
<!-- END transport -->