<!-- BEGIN data-music -->
<div class='data-table content_block music'>
    <div class="data-table_head data-table_block">
        <div class="control">
            <div class="data-table_name control_item control_item--bold">National Anthem</div>
            <span class="control_item control_item--bold">0 File(s)</span>
            <!-- <a href="#popupAddPerson" class="add control_item" data-target="modal">Add</a> -->
        </div>
    </div>
    <div class="data-table_table data-table_block">
        <ul class="data-table_title data-table_row data-table_block">
            <li class="data-table_col data-table_col--auto country">
                <div class="val sort">COUNTRY</div>
            </li>
            <li class="data-table_col data-table_col--auto">
                <div class="val name"></div>
            </li>
            <li class="data-table_col ">
                <div class="val file">FILE</div>
            </li>
        </ul>
        <div class="data-table_row data-table_data data-table_block">
            <div class="data-table_col data-table_col--auto country" data-label="COUNTRY">
                <div class="val">
                    <span>RUS</span>
                    <span class="icon"><img src="assets/img/rockandroll.png" alt=""></span>
                </div>
            </div>
            <div class="data-table_col data-table_col--auto" data-label="">
                <div class="val name">
                    <!-- <a href="#popupEditPerson" class="edit" data-target="modal"></a> -->
                </div>
            </div>
            <div class="data-table_col" data-label="FILE">
                <div class="val">
                    <div class="file">
                        <div class="file_item media hidden">
                            <a href="#" class="player player--play" onclick="playAudio($(this), event)"></a>
                            <a href="#" class="player player--stop hidden" onclick="$(this).siblings('audio').get(0).pause(); return false"></a>
                            <audio class="mejs__player hidden" src="./" controls="true"></audio>
                            <a href="file.png" class="dload" download=""></a>
                            <a href="#" class="del" ></a>
                        </div>
                        <input type="file" class="form-control" name="" id="" placeholder="" accept=".mp3, .wav">
                        <a href="#" onclick="onInputClick($(this), event)" class="upload">Upload</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='data-table content_block music'>
    <div class="data-table_head data-table_block">
        <div class="control">
            <div class="data-table_name control_item control_item--bold">RGI</div>
            <span class="control_item control_item--bold">0 File(s)</span>
            <!-- <a href="#popupAddPerson" class="add control_item" data-target="modal">Add</a> -->
        </div>
        <ul class="options">
            <li><a href="#">XLS</a></li>
            <li><a href="#">PDF</a></li>
            <li><a href="#">All Music</a></li>
        </ul>
    </div>
    <div class="data-table_table data-table_block">
        <ul class="data-table_title data-table_row data-table_block">
            <li class="data-table_col data-table_col--auto country">
                <div class="val">COUNTRY</div>
            </li>
            <li class="data-table_col data-table_col--auto">
                <div class="val name">GYMNAST</div>
            </li>
            <li class="data-table_col ">
                <div class="val file">FILE</div>
            </li>
        </ul>
        <div class="data-table_row data-table_data data-table_block">
            <div class="data-table_col data-table_col--auto country" data-label="COUNTRY">
                <div class="val">
                    <span>RUS</span>
                    <span class="icon"><img src="assets/img/rockandroll.png" alt=""></span>
                </div>
            </div>
            <div class="data-table_col data-table_col--auto" data-label="GYMNAST">
                <div class="val name">
                    <span>ANIKINA Viktoriia</span>
                    <!-- <a href="#popupEditPerson" class="edit" data-target="modal"></a> -->
                </div>
            </div>
            <div class="data-table_col" data-label="FILE">
                <div class="val">
                    <div class="file style style--1">
                        <div class="file_item media hidden ">
                            <a href="#" class="player player--play" onclick="playAudio($(this), event)"></a>
                            <a href="#" class="player player--stop hidden" onclick="$(this).siblings('audio').get(0).pause(); return false"></a>
                            <audio class="mejs__player hidden" src="./" controls="true"></audio>
                            <a href="file.png" class="dload" download=""></a>
                            <a href="#" class="del"></a>
                        </div>
                        <input type="file" class="form-control" name="" id="" placeholder="" accept=".mp3, .wav">
                        <a href="#" onclick="onInputClick($(this), event)" class="upload">Upload</a>
                    </div>
                    <div class="file style style--2">
                        <div class="file_item media hidden">
                            <a href="#" class="player player--play" onclick="playAudio($(this), event)"></a>
                            <a href="#" class="player player--stop hidden" onclick="$(this).siblings('audio').get(0).pause(); return false"></a>
                            <audio class="mejs__player hidden" src="./" controls="true"></audio>
                            <a href="file.png" class="dload" download=""></a>
                            <a href="#" class="del"></a>
                        </div>
                        <input type="file" class="form-control" name="" id="" placeholder="" accept=".mp3, .wav">
                        <a href="#" onclick="onInputClick($(this), event)" class="upload">Upload</a>
                    </div>
                    <div class="file style style--3">
                        <div class="file_item media hidden">
                            <a href="#" class="player player--play" onclick="playAudio($(this), event)"></a>
                            <a href="#" class="player player--stop hidden" onclick="$(this).siblings('audio').get(0).pause(); return false"></a>
                            <audio class="mejs__player hidden" src="./" controls="true"></audio>
                            <a href="file.png" class="dload" download=""></a>
                            <a href="#" class="del"></a>
                        </div>
                        <input type="file" class="form-control" name="" id="" placeholder="" accept=".mp3, .wav">
                        <a href="#" onclick="onInputClick($(this), event)" class="upload">Upload</a>
                    </div>
                    <div class="file style style--4">
                        <div class="file_item media hidden">
                            <a href="#" class="player player--play" onclick="playAudio($(this), event)"></a>
                            <a href="#" class="player player--stop hidden" onclick="$(this).siblings('audio').get(0).pause(); return false"></a>
                            <audio class="mejs__player hidden" src="./" controls="true"></audio>
                            <a href="file.png" class="dload" download=""></a>
                            <a href="#" class="del"></a>
                        </div>
                        <input type="file" class="form-control" name="" id="" placeholder="" accept=".mp3, .wav">
                        <a href="#" onclick="onInputClick($(this), event)" class="upload">Upload</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END data-music -->