<!-- BEGIN data-table acredit -->
<div class='data-table content_block accredit'>
    <div class="data-table_head data-table_block">
        <div class="control">
            <span class="control_item control_item--bold">3 Person(s)</span>
            <a href="#popupAddPerson" class="add control_item" data-target="modal">Add</a>
        </div>
        <div class="status status--in-progress">Registration will be closed in 15d 08:32</div>
        <ul class="options">
            <li><a href="#">XLS</a></li>
            <li><a href="#">PDF</a></li>
            <li><a href="#">All Photos</a></li>
            <li><a href="#">All Passports</a></li>
        </ul>
    </div>
    <div class="data-table_table data-table_block">
        <ul class="data-table_title data-table_row data-table_block">
            <li class="data-table_col data-table_col--auto country">
                <div class="val">COUNTRY</div>
            </li>
            <li class="data-table_col sort">
                <div class="val">FULL NAME</div>
                <a href="#" class="sort_item active" data-attr="sort"></a>
            </li>
            <li class="data-table_col sort">
                <div class="val">FUNCTION</div>
                <a href="#" class="sort_item" data-attr="sort"></a>
            </li>
            <li class="data-table_col ">
                <div class="photo val">PHOTO</div>
            </li>
            <li class="data-table_col ">
                <div class="val sort">PASSPORT</div>
            </li>
            <li class="data-table_col data-table_col--auto visa">
                <div class="val">VISA</div>
            </li>
        </ul>
        <div class="data-table_row data-table_data data-table_block">
            <div class="data-table_col data-table_col--auto country" data-label="COUNTRY">
                <div class="val">
                    <span>RUS</span>
                    <span class="icon"><img src="assets/img/rockandroll.png" alt=""></span>
                </div>
            </div>
            <div class="data-table_col " data-label="FULL NAME">
                    <div class="val name">
                        <span>ANIKINA Viktoriia</span>
                        <a href="#popupEditPerson" class="edit" data-target="modal"></a>
                    </div>
            </div>
            <div class="data-table_col " data-label="FUNCTION">
                <div class="func val">RGG Judge</div>
            </div>
            <div class="data-table_col" data-label="PHOTO">
                <div class="photo val">
                    <a href="assets/img/login-bg.png" data-attr="view-img"><img src="assets/img/photo.png" alt="photo"></a>
                </div>
                <a href="file.png" class="dload" download></a>
            </div>
            <div class="data-table_col " data-label="PASSPORT">
                <div class="passport val"></div>
                <a href="file.png" class="dload" download></a>
            </div>
            <div class="data-table_col data-table_col--auto visa" data-label="VISA">
                <div class=" val">+</div>
                <div class="form-group">
                    <label for="1">Visa
                    </label>
                    <input style="display:block" tabindex="0" type="checkbox" class="form-control" name="1" id="1" placeholder="">
                    <div tabindex="0" class="form_check form-group_block" ></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END data-table acredit  -->