<!-- BEGIN data-table accom -->
<div class='data-table content_block accom'>
    <div class="data-table_head data-table_block">
        <div class="control">
            <!-- <div class="data-table_name control_item control_item--bold"></div> -->
            <span class="control_item control_item--bold">3 Person(s)</span>
            <a href="#" class="add control_item">Add</a>
        </div>
        <ul class="options">
            <li><a href="#">XLS</a></li>
            <li><a href="#">PDF</a></li>
        </ul>
    </div>
    <div class="data-table_table data-table_block">
        <ul class="data-table_title data-table_row data-table_block">
            <li class="data-table_col data-table_col--auto country">
                <div class="val">COUNTRY</div>
            </li>
            <li class="data-table_col ">
                <div class="val ">Hotel</div>
            </li>
            <li class="data-table_col">
                <div class="val">Room</div>
            </li>
            <li class="data-table_col data-table_col--auto country">
                <div class="val">Price per Room</div>
            </li>
            <li class="data-table_col ">
                <div class="val">Check in</div>
            </li>
            <li class="data-table_col">
                <div class="val">Check out</div>
            </li>
            <li class="data-table_col data-table_col--auto country">
                <div class="val">Nights</div>
            </li>
            <li class="data-table_col data-table_col--auto country">
                <div class="val">Number of Rooms</div>
            </li>
            <li class="data-table_col">
                <div class="val">Total</div>
            </li>
        </ul>
        <div class="data-table_row data-table_data data-table_block">
            <div class="data-table_col data-table_col--auto country" data-label="COUNTRY">
                <div class="val">
                    <span>RUS</span>
                    <span class="icon"><img src="assets/img/rockandroll.png" alt=""></span>
                </div>
            </div>
            <div class="data-table_col " data-label="Hotel">
                <div class="val ">12.07.2019</div>
            </div>
            <div class="data-table_col " data-label="Room">
                <div class="val">17:40</div>
            </div>
            <div class="data-table_col data-table_col--auto country" data-label="Price per Room">
                <div class="val">Plane</div>
            </div>
            <div class="data-table_col " data-label="Check in">
                <div class="val">SVO</div>
            </div>
            <div class="data-table_col" data-label="Check out">
                <div class="val">AF4908</div>
            </div>
            <div class="data-table_col data-table_col--auto country" data-label="Nights">
                <div class="val">PARIS</div>
            </div>
            <div class="data-table_col data-table_col--auto country" data-label="Number of Rooms">
                <div class="val">14</div>
            </div>
            <div class="data-table_col" data-label="Total">
                <div class="text">Grand Total:</div>
                <div class="val">15</div>
            </div>
        </div>
    </div>
</div>
<!-- END data-table accom -->