<!-- BEGIN data-table meals -->
<div class='data-table content_block meals'>
        <div class="data-table_head data-table_block">
            <div class="control">
                <!-- <div class="data-table_name control_item control_item--bold"></div> -->
                <span class="control_item control_item--bold">3 Person(s)</span>
                <a href="#" class="add control_item">Add</a>
            </div>
            <ul class="options">
                <li><a href="#">XLS</a></li>
                <li><a href="#">PDF</a></li>
            </ul>
        </div>
        <div class="data-table_table data-table_block">
            <ul class="data-table_title data-table_row data-table_block">
                <li class="data-table_col data-table_col--auto country">
                    <div class="val">COUNTRY</div>
                </li>
                <li class="data-table_col ">
                    <div class="val ">Meal Type</div>
                </li>
                <li class="data-table_col ">
                    <div class="val">Price</div>
                </li>
                <li class="data-table_col ">
                    <div class="val">Date from</div>
                </li>
                <li class="data-table_col ">
                    <div class="val">Date to</div>
                </li>
                <li class="data-table_col">
                    <div class="val">Days</div>
                </li>
                <li class="data-table_col">
                    <div class="val">Quantity</div>
                </li>
                <li class="data-table_col">
                    <div class="val">Total</div>
                </li>
            </ul>
            <div class="data-table_row data-table_data data-table_block">
                <div class="data-table_col data-table_col--auto country" data-label="COUNTRY">
                    <div class="val">
                        <span>RUS</span>
                        <span class="icon"><img src="assets/img/rockandroll.png" alt=""></span>
                    </div>
                </div>
                <div class="data-table_col " data-label="Meal Type">
                    <div class="val ">12.07.2019</div>
                </div>
                <div class="data-table_col " data-label="Price">
                    <div class="val">17:40</div>
                </div>
                <div class="data-table_col" data-label="">
                    <div class="val">Plane</div>
                </div>
                <div class="data-table_col " data-label="Date to">
                    <div class="val">SVO</div>
                </div>
                <div class="data-table_col" data-label="Days">
                    <div class="val">AF4908</div>
                </div>
                <div class="data-table_col" data-label="Quantity">
                    <div class="val">PARIS</div>
                </div>
                <div class="data-table_col" data-label="Total">
                    <div class="text">Grand Total:</div>
                    <div class="val">15</div>
                </div>
            </div>
        </div>
    </div>
    <!-- END data-table meals -->