<!-- BEGIN data-table invoice -->
<div class='data-table content_block invoice'>
    <div class="data-table_head data-table_block">
        <div class="control">
            <!-- <div class="data-table_name control_item control_item--bold"></div> -->
            <span class="control_item control_item--bold">3 Person(s)</span>
            <a href="#" class="add control_item">Add</a>
        </div>
        <ul class="options">
            <li><a href="#">XLS</a></li>
            <li><a href="#">PDF</a></li>
            <!-- Get Invoice -->
            <li>
                <a href="#" class="status status--in-progress">Get Invoice</a>
            </li>
        </ul>
    </div>
    <div class="data-table_table data-table_block">
        <ul class="data-table_title data-table_row data-table_block">
            <li class="data-table_col data-table_col--auto country">
                <div class="val">COUNTRY</div>
            </li>
            <li class="data-table_col ">
                <div class="val ">Expenses</div>
            </li>
            <li class="data-table_col">
                <div class="val">Total</div>
            </li>
        </ul>
        <div class="data-table_row data-table_data data-table_block">
            <div class="data-table_col data-table_col--auto country" data-label="COUNTRY">
                <div class="val">
                    <span>RUS</span>
                    <span class="icon"><img src="assets/img/rockandroll.png" alt=""></span>
                </div>
            </div>
            <div class="data-table_col " data-label="Expenses">
                <div class="val">
                    <span>Accommodation</span>
                </div>
            </div>
            <div class="data-table_col" data-label="Total">
                <div class="val"><span>15</span></div>
            </div>
        </div>
    </div>
</div>

<div class="data-table content_block g-total-wrap">
    <div class="data-table_row ">
        <div class="data-table_col data-table_col--auto country"></div>
        <div class="data-table_col data-table_title g-total_text">
            <div class="val"><span>GRAND TOTAL</span></div>
        </div>
        <div class="data-table_col g-total_val" data-label="GRAND TOTAL">
            <div class="val">
                <span>€ 18 790,00</span>
            </div>
        </div>
    </div>
</div>
<!-- END data-table invoice -->