// /* BEGIN: box-grid */
/// Grid system
//
// Generate semantic grid columns with these mixins.

@mixin make-container() {
    width: 100%;
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);
    margin-right: auto;
    margin-left: auto;
}

@mixin make-row() {
    display: flex;
    flex-wrap: wrap;
    margin-right: ($grid-gutter-width / -2);
    margin-left: ($grid-gutter-width / -2);
}

@mixin make-col($columns) {
    position: relative;
    width: 100%;
    flex: 0 0 (100% / $columns);
    max-width: (100% / $columns);
    min-height: 1px; // Prevent collapsing
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);
}
@mixin make-auto() {
    position: relative;
    width: auto;
    flex: 0 0 auto;
    max-width: none;
    min-height: 1px; // Prevent collapsing
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);
}
@mixin make-stretch() {
    position: relative;
    width: 100%;
    flex: 1 1 0;
    max-width: 100%;
    min-height: 1px; // Prevent collapsing
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);
}
// /* END: box-grid */