/* BEGIN: breadcrumb */
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    &_item {
        a {
            display: block;
            color: #2C405A;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: -0.34px;
            line-height: 22px;
            &::before {
                position: relative;
                display: inline-block;
                vertical-align: top;
                content: '';
                width: 10px;
                height: 22px;
                background: url('../img/Back-icon-Copy.svg') center no-repeat;
                margin-right: 10px;
            }
        }
    }
}

/* END: breadcrumb */