form input[type=file],
form input[type=checkbox],
form input[type=radio],
form input:focus[type=file],
form input:focus[type=checkbox],
form input:focus[type=radio],
form input:active[type=file],
form input:active[type=checkbox],
form input:active[type=radio] {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    appearance: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

form input:focus[type=checkbox]+.form_check {
    outline: -webkit-focus-ring-color auto 5px;
    outline: auto 2px Highlight;
}