/* BEGIN: contest head */
.contest-list {
    .registration {
        &_head {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-auto-rows: minmax(26px, auto);
            padding: 0;
        }

        &_title {
            grid-column: 1 / 2;
            grid-row: 2;
            line-height: 1;
            padding: 14px 20px 0;
        }

        &_type {
            grid-column: 1 / 2;
            grid-row: 3;
            padding: 0px 20px 14px;
        }

        &_timetable {
            grid-column: 1/3;
            grid-row: 1;
            border-bottom: 1px solid rgba(194, 196, 202, 0.3);
            padding: 14px 20px;
        }

        &_status {
            grid-column: 2;
            grid-row: 2/4;
            padding: 14px 20px;

            .status {
                display: block;
            }

            .remain {
                max-width: 180px;
            }
        }
    }
}

/* END: contest head */