/* BEGIN: header */
.header {
    &_nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        height: 57px;
    }

    &_gradient {
        height: 22px;
        background: linear-gradient(to bottom,
            #1B5366 18.18%,
            transparent 18.18%, transparent 27.18%,
            #C80901 27.18%, #C80901 45.36%,
            transparent 45.36%, transparent 54.36%,
            #FE7A24 54.36%, #FE7A24 72.54%,
            transparent 72.54%, transparent 81.54%,
            #0297CA 81.54%);
    }

    &_menu {
        display: flex;
        flex-wrap: wrap;
    }

    &_link {
        // @include truncate(250px);
        position: relative;
        color: #000000;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;

        &:not(:last-child) {
            margin-right: 20px;

            &::after {
                position: absolute;
                content: '';
                width: 5px;
                height: 5px;
                right: -12px;
                top: 9px;
                background-color: #4e4e4e;
                border-radius: 50%;
            }
        }
    }

    &_user {
        position: relative;
        padding-right: 20px;

        &::after {
            position: absolute;
        }
    }
}

.logo {
    &_text {
        font-size: fontsize(27);
        font-weight: 700;

        &--dark {
            color: #333333;
        }

        &--blue {
            color: #00AFF5;
        }
    }
}

/* END: header */