/* BEGIN: contest-list */
$grid-gutter-width: 20px;

.contest-list {
    @include make-row();
    align-items: flex-start;

    &_menu {
        position: relative;
        width: 100%;
        flex: 0 0 auto;
        max-width: 250px;
        min-height: 1px; // Prevent collapsing
        padding-right: ($grid-gutter-width / 2);
        padding-left: ($grid-gutter-width / 2);

        li {
            position: relative;
            color: #333333;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: -0.34px;
            line-height: 22px;
            text-align: left;
            padding: 14px 44px;
            &:not(:last-child) {
                border-bottom: 1px solid rgba(194, 196, 202, 0.3);
            }
            &.active {
                color: #00AFF5;
            }
            .add {
                position: absolute;
                top: 14px;
                right: 0px;
            }
        }
    }

    &_list {
        position: relative;
        width: 100%;
        flex: 1 1 0;
        max-width: 100%;
        min-height: 1px; // Prevent collapsing
        padding-right: ($grid-gutter-width / 2);
        padding-left: ($grid-gutter-width / 2);
    }
    &_item {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

/* END: contest-list */