/* BEGIN: login */
.login {
    width: 100%;
    max-width: 332px;

    &-wrapper {
        height: 100%;
        overflow: auto;
        background: url(../img/login-bg.png) center right/auto 100% no-repeat;
        padding-top: 100px;

        h1 {
            margin-top: 0;
            margin-bottom: 100px;
        }

        .logo_text {
            background: #fff;
        }
    }

    &_title {
        margin-bottom: 30px;
    }

    .form {
        label {
            display: none;
        }

        .btn {
            display: block;
            width: 100%;
        }

        &-group {
            &.error {
                .error_label {
                    visibility: visible;
                }
            }
        }
    }
    &_copyright {
        margin-top: 100px;
    }
}
.fullscreen {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}
/* END: login */