/* Styling media modal */
.media-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none; 
    overflow: hidden;
    overflow-y: auto;
    outline: 0;
    background: rgba(0, 0, 0, 0.5);
    &_wrap {
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1100;
        margin: 20px 0;
    }
    .close {
        position: absolute;
        content: '';
        top: 0;
        right: -25px;
        width: 15px;
        height: 15px;
        background: url(../img/close-cross.png) center no-repeat;
        background-size: contain;
        cursor: pointer;
    }
    img {
        max-width: 100%;
        max-height: 100%;
    }
}
/* END Styling media modal */