/* BEGIN: media */
@media screen and (max-width: 768px) {
    .data-table_data {
        font-size: fontsize(12);
    }

    .popup {
        .form-group>label {
            max-width: none;
            margin-bottom: 10px;
        }

        .form-control {
            flex: 1 1 auto;
        }

        .form {
            &-group {
                &.error:not(.form-date) {
                    &::after {
                        display: none;
                    }
                }
            }

            &-date {
                &::after {
                    top: 39px;
                    transform: none;
                }
            }
        }
    }
    .registration_copyright {
        position: relative;
    }
}

@media screen and (max-width: 576px) {
    %p15 {
        padding: 15px;
    }

    .logo_text {
        font-size: 5vmin;
    }

    .options {
        display: none;
    }

    .registration {
        &_head {
            @extend %p15;
        }

        &_desc {
            grid-template-columns: 1fr;
            grid-row-gap: 5px;
        }

        &_type {
            grid-column: 1;
            grid-row: 1;
        }

        &_status {
            grid-column: 1;
            grid-row: 3 / 3;

            .status {
                width: 100%;
            }
        }

        &_tab {
            flex: 1 1 auto;
        }
    }

    .data-table {
        &_head {
            @extend %p15;
        }

        &_title {
            display: none;
        }

        &_row {
            @extend %p15;
            flex-wrap: wrap;
        }

        &_col {
            width: 100%;
            position: relative;
            flex: 1 1 auto;
            padding: 5px 0;

            &:not(:last-child) {
                border-bottom: 1px solid rgba(194, 196, 202, 0.3);
            }

            &::before {
                display: inline-block;
                vertical-align: top;
                width: 49%;
                content: attr(data-label);
                color: #8DABC4;
                font-size: 11px;
                font-weight: 600;
                letter-spacing: 1.7px;
                text-transform: uppercase;
                text-align: left;
            }

            .val {
                display: inline-block;
                vertical-align: top;
                width: 49%;
                text-align: right;
                margin-left: auto;
            }
        }

        &_data {
            .photo {
                img {
                    left: auto;
                    right: 0;
                }
            }

            .edit {
                opacity: 1;
            }
        }

        &_table {
            .file {
                padding-left: 0;
            }
        }

        &.music {
            .name {
                width: 49%;
            }
        }
        &.g-total {
            &-wrap {
                .data-table_col:not(.g-total_val) {
                    display: none;
                }
            }
        }
    }

    .popup {
        .form {
            .btn-group {
                float: none;
            }

            .btn {
                display: block;
                margin-left: auto;
                margin-right: auto;

                &:not(:last-child) {
                    margin-right: auto;
                    margin-bottom: 10px;
                }
            }
        }

        &_block {
            padding: 15px;
        }

        &-add-pers {
            .btn.btn--del {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .contest-list {
        .registration {
            &_type {
                grid-column: 1;
                grid-row: 3;
            }

            &_status {
                grid-column: 1;
                grid-row: 4;

                .remain {
                    max-width: none;
                }
            }
        }
    }

    .navigation {
        flex-direction: column;
    }
}

/* END: media */