/* Styling pagination */
$pagGutter: 6px;

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    align-items: center;
    margin-left: $pagGutter / -2;
    margin-right: $pagGutter / -2;

    &_item {
        padding-left: $pagGutter / 2;
        padding-right: $pagGutter / 2;
        margin-bottom: $pagGutter;
    }

    .start,
    .finish {
        display: block;
        background-color: #FFFFFF;
        border: 1px solid #E5EEF5;
        border-radius: 4px;
        padding: 7px 11px;
    }

    a,
    a:active,
    a:focus,
    a:visited {
        color: #7F8892;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: center;
        transition: 0.3s;
    }
}

.pagination {
    display: table;
    background-color: #FFFFFF;
    border: 1px solid #E5EEF5;
    border-radius: 4px;

    &_item {
        display: table-cell;
        vertical-align: top;
    }

    .list {
        display: flex;
        border-left: 1px solid #E5EEF5;
        border-right: 1px solid #E5EEF5;

        a {
            display: block;
            padding: 7px 11px;


        }

        li {
            &:not(:last-child) {
                border-right: 1px solid #E5EEF5;
            }

            &.active {
                a {
                    color: #FFFFFF;
                    background-color: #007AC6;
                }
            }
        }
    }

    .prev,
    .next {
        padding: 7px 11px;

        &::before {
            display: inline-block;
            position: relative;
            content: '';
            background: url(../img/arrow.svg) center no-repeat;
            width: 10px;
            height: 10px;
            transform: rotate(90deg);
        }
    }
    .next {
        &::before {
            transform: rotate(270deg);
        }
    }
}

/* END Styling pagination */