/* BEGIN: popup */
.popup {
    display: none;
    position: absolute;
    width: 100%;
    top: 100px;
    left: 0;
    z-index: 1000;

    &_block {
        padding: 20px;

        &:not(:last-child) {
            border-bottom: 1px solid rgba(194, 196, 202, 0.3);
        }
    }

    &_footer {
        position: relative;

        &:after {
            content: '';
            display: table;
            clear: both;
        }
    }

    &-add-pers {
        .btn--del {
            display: none;
        }
    }

    &-confirm {
        position: fixed;
        // display: block;
        max-width: 695px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1100;

        .popup_body {
            min-height: 200px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .popup_footer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            &::after {
                display: none;
            }
        }

        .form .btn--confirm {
            width: 100%;
            max-width: 230px;
        }
    }

    .icon-info {
        margin-top: 2px;
    }
}

/*info tooltip*/
.icon-info {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    background: url(../img/info-icon.png) center/cover no-repeat;
    cursor: pointer;

    &:hover {
        .tooltip {
            display: block;
        }
    }
}

.tooltip {
    display: none;
    position: absolute;
    top: 100%;
    left: -26px;
    z-index: 100;
    width: 50vw;
    max-width: 600px;
    padding-top: 12px;

    &__arrow {
        position: absolute;
        top: 0;
        left: 22px;
        width: 22px;
        height: 14px;
        overflow: hidden;
        z-index: 1;

        &::before {
            position: absolute;
            content: '';
            top: 6px;
            left: 0px;
            width: 22px;
            height: 22px;
            transform: rotate(45deg);
            background-color: #fff;
            box-shadow: 0 0 9px rgba(123, 123, 123, 0.32);
        }
    }

    &__content {
        position: relative;
        background-color: #fff;
        box-shadow: 0 0 9px rgba(123, 123, 123, 0.32);
        border-radius: 4px;
        padding: 20px;
        overflow: hidden;
        overflow-y: auto;

        p {
            margin-top: 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

/*end info tooltip*/
/* END: popup */