/* BEGIN: registration */

.date {
    font-weight: 700;
}

.status {
    font-size: fontsize(13);
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.05000000074505806);
    border-radius: 4px;
    box-shadow: inset -1px 1px 0 0 rgba(255, 255, 255, 0);
    width: 180px;
    padding: 10px;

    &--in-progress {
        color: #FFFFFF;
        background-color: #FF9400;
    }
}

.remain {
    color: #333333;
    font-size: fontsize(13);
    font-weight: 400;
    text-align: center;
    line-height: fontsize(22);
}

.tags {
    &_item {
        display: inline-block;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        background-color: #FFFFFF;
        border: 1px solid rgba(183, 210, 229, 0.800000011920929);
        border-radius: 13px;
        padding: 5px 10px;

        &:not(:last-child) {
            margin-right: 6px;
        }
    }
}

.registration {
    &_block {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &_head {
        padding: 20px 30px;
    }

    &_title {
        display: block;
        color: #333333;
        font-size: fontsize(20);
        font-weight: 700;
        margin: 0 0 10px;
    }

    &_desc {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-auto-rows: minmax(auto, auto);
    }

    &_type {
        grid-column: 1 / 2;
        grid-row: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        color: #2C405A;
        font-size: 15px;
        font-weight: 400;

        >* {
            &:not(:last-child) {
                margin-right: 20px;
                margin-bottom: 5px;
            }
        }
    }

    &_timetable {
        grid-column: 1;
        grid-row: 2;
        display: flex;
        flex-wrap: wrap;

        li {
            position: relative;
            font-size: 15px;
            line-height: 22px;

            &:not(:first-child) {
                margin-left: 20px;

                &::before {
                    position: absolute;
                    content: '';
                    width: 5px;
                    height: 5px;
                    left: -12px;
                    top: 9px;
                    background-color: #4e4e4e;
                    border-radius: 50%;
                }
            }
        }
    }

    &_status {
        grid-column: 2;
        grid-row: 1 / 3;
    }

    &_tabs {
        display: flex;
        flex-wrap: wrap;
    }

    &_tab {
        @include truncate(100%);
        position: relative;
        width: 100%;
        flex: 1 1 0;
        min-height: 1px;
        color: #9ba9b6;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        padding: 12px 0;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        transition: all 0.3s;
        overflow: hidden;

        &:not(:first-child) {
            &::before {
                position: absolute;
                content: '';
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
                width: 1px;
                height: 65%;
                background-color: rgba(175, 202, 222, 0.3799999952316284);
            }
        }

        &.active,
        &:hover {
            color: #333333;
        }

        &.active {
            border-bottom: 2px solid #FF9400;
        }
    }

    &_tables {
        position: relative;
    }

    &_table {
        position: absolute;
        width: 100%;
        top: 0px;
        left: 0px;
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;

        &.active {
            display: block;
            position: relative;
            opacity: 1;
            visibility: visible;
            z-index: 1;
        }
    }

    &_copyright {
        text-align: center;
        color: #9ba9b6;
        font-size: fontsize(14);
        margin-bottom: 10px;
    }
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

/* END: registration */