.add {
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: #333333;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 30px;

    &::before {
        position: absolute;
        top: 3px;
        left: 0;
        display: block;
        content: "+";
        color: #ffffff;
        text-align: center;
        line-height: 16px;
        background-color: #4ECE3D;
        width: 16px;
        height: 16px;
        border-radius: 50%;
    }
}

.control {
    max-width: 100%;

    &_item {
        @include truncate(100%);
        display: inline-block;
        vertical-align: baseline;

        &:not(:last-child) {
            margin-right: 20px;
        }

        &--bold {
            color: #333333;
            font-size: 15px;
            font-weight: 700;
            line-height: 22px;
        }
    }
}

.options {
    li {
        display: inline-block;
        vertical-align: top;

        &:not(:last-child) {
            margin-right: 20px;
        }

        a {
            display: block;
            color: #9ba9b6;
            font-size: 15px;
            font-weight: 400;
            line-height: 22px;
        }
    }
}

.edit {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    background: url(../img/profile_edit.png) center no-repeat;
}

.dload {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 15px;
    height: 15px;
    background: url(../img/downloadFile_download-image.png) center no-repeat;
    background-size: contain;
}

.style {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }

    &--1 {
        &::before {
            background-image: url(../img/loginPage_item1.png);
        }
    }

    &--2 {
        &::before {
            background-image: url(../img/loginPage_item2.png);
        }
    }

    &--3 {
        &::before {
            background-image: url(../img/loginPage_item3.png);
        }
    }

    &--4 {
        &::before {
            background-image: url(../img/loginPage_item4.png);
        }
    }
}

input[type=file],
input[type=checkbox],
input:focus[type=file],
input:focus[type=checkbox],
input:active[type=file],
input:active[type=checkbox] {
    display: none;
}

$grid-gutter-width: 30px;

%w100 {
    width: 8%;
}

.data-table {
    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &_row {
        display: flex;
        padding: 10px 20px;
    }

    &_col {
        position: relative;
        width: 100%;
        flex: 1 1 0;
        max-width: 100%;
        min-height: 1px; // Prevent collapsing
        overflow: hidden;

        &--auto {
            width: auto;
            flex: 0 0 auto;
            max-width: none;
        }

        .val {
            &--trunc {
                @include truncate(100%);
            }
        }
    }

    &_head {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        // border-bottom: 1px solid rgba($color: #C2C4CA, $alpha: 0.3);
        padding: 20px 30px 20px 20px;

        .options {
            li {
                vertical-align: middle;

                .status {
                    width: auto;
                    color: #ffffff;
                    font-size: 0.8125rem;
                    line-height: 18px;
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
        }
    }

    &_title {
        color: #8DABC4;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 1.7px;
        line-height: 13px;
        text-transform: uppercase;

        li {
            overflow: hidden;

            .val {
                @include truncate(100%);
            }

            &.sort-date {
                &.hover {
                    color: #333333;
                    cursor: pointer;
                    .sort_item {
                        background: url(../img/arrow-col.jpg) center no-repeat;
                        transition: 0.6s;
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    &_data {
        color: #2C405A;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        transition: 0.3s;

        &:hover {
            background-color: #F6FBFF;
            cursor: pointer;

            .edit {
                opacity: 1;
            }

            .dload {
                opacity: 1;
            }
        }

        .photo {
            display: inline-block;
            position: relative;
            width: 75px;
            height: 95px;
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                max-width: 100%;
                max-height: 100%;
            }
        }

        .edit {
            opacity: 0;
            transition: 0.3s;
        }

        .passport {
            display: inline-block;
            vertical-align: top;
            width: 20px;
            height: 20px;
            background: url(../img/files.png) center no-repeat;
            background-size: contain;
            margin-left: 20px;
        }

        .dload {
            opacity: 0;
            margin: 5px 5px 0;
            transition: 0.3s;
        }

        .file {
            &_item {
                position: relative;
                width: 100px;
                display: inline-block;
                max-width: 100%;
                margin-right: 15px;

                .dload {
                    opacity: 1;
                }

                .media {
                    &_wrap {
                        position: relative;
                        display: inline-block;
                        vertical-align: top;
                        width: 10px;
                        height: 20px;
                        overflow: hidden;
                    }
                }
            }
        }
    }

    &_block {
        &:not(:last-child) {
            border-bottom: 1px solid rgba(194, 196, 202, 0.3);
        }
    }

    &_table {
        .file {
            padding-left: 50px;

            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }

    .country {
        @extend %w100;

        .icon {
            display: inline-block;
            vertical-align: top;
            width: 16px;
            height: 16px;

            img {
                max-width: 100%;
            }
        }
    }

    .visa {
        @extend %w100;
    }

    &.music {
        .name {
            width: 230px;
        }
    }

    .g-total {
        &_text {
            .val {
                display: flex;
                height: 100%;
                justify-content: flex-end;
                align-items: center;
                margin-right: 75px;
            }
        }
    }
}