/*ТЗ этап 2*/
.btn:disabled {
    color: #ffffff !important;
    background-color: #cfcfd0 !important;
    border-color: #cfcfd0 !important;
}

/*dropdown select*/
.drop-select {
    position: relative;
    font-size: 13px;

    &__btn {
        display: inline-block;
        vertical-align: middle;
        width: auto;
        font-size: 13px;
        text-align: left;
        cursor: pointer;
        appearance: none;
        background-color: transparent;
        border: none;
        padding: 0;
        margin-right: 30px;

        &:focus {
            outline: none;
        }

        .val {
            line-height: 2;
            border-bottom: 1px dashed #cfcfd0;
            padding: 5px 0;
            margin-right: 10px;

            &.is_selected {
                color: #00AFF5;
            }

        }

    }

    .val-reset {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        color: #000000;
        padding-left: 15px;
        cursor: pointer;

        &:before {
            position: absolute;
            content: '';
            top: 10px;
            left: 0;
            width: 10px;
            height: 10px;
            background: url(../img/cross.svg) center/cover no-repeat;
        }

        &__text {
            position: relative;
            line-height: 2;
            border-bottom: 1px dashed #cfcfd0;
            padding: 5px 0;
        }
    }

    &__menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 230px;
        padding-top: 14px;
        z-index: 10;

        .tooltip__arrow {
            left: 57px;
        }
    }

    &__label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
    }

    .form_check {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
    }

    &__list {
        padding: 15px;
    }

    &__item {
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    label {
        font-size: 13px;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1010;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    &__content {
        position: absolute;
        top: 110px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        height: 750px;
        max-width: 680px;
        padding: 20px;

        #modalImgCrop & {
            height: auto;
        }

        .popup_wrap {
            height: 100%;
            border-radius: 10px;

            .form {
                height: 100%;

                display: flex;
                flex-direction: column;
            }
        }

        .popup_body {
            flex: 1 1 auto;
            overflow: hidden;
            overflow-y: auto;
        }
    }

    &__search {
        position: relative;
        width: 100%;
        flex: 1 1 auto;
        max-width: 320px;
        margin-right: 25px;

        &::after {
            position: absolute;
            content: '';
            top: 10px;
            right: 10px;
            width: 20px;
            height: 20px;
            background: url(../img/search.png) center/cover no-repeat;
        }

        input,
        input:focus {
            padding-right: 30px;
        }
    }

    &__select {
        width: auto;
        max-width: 100%;
    }

    .popup_body {
        padding: 0 20px;
    }
}

/*guests*/
.guests {
    &__item {
        border-bottom: 1px solid rgba(194, 196, 202, 0.3);
        padding: 15px 0;

        &:last-child {
            border-bottom: none;
        }
    }

    &__label {
        display: block;
        position: relative;
        padding-left: 30px;
        cursor: pointer;

        .form_check {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
        }

        p {
            margin: 0 0 5px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &.is_disabled {
            color: #7c8d9c !important;
            pointer-events: none !important;

            input[type=checkbox]:checked+.form_check,
            form input:focus[type=checkbox]:checked+.form_check,
            form input:active[type=checkbox]:checked+.form_check {
                background: #9ba9b6 url(../img/checked.png) center no-repeat;
                box-shadow: none;
                border: 1px solid #9ba9b6;
            }
        }
    }

    &__func {
        font-size: 13px;
        color: #9ba9b6;
    }
}

.add {
    &.is_edited {
        padding-left: 0;
        padding-right: 20px;

        &:before {
            display: none;
        }

        &::after {
            position: absolute;
            top: 3px;
            right: 0;
            display: block;
            content: "";
            width: 16px;
            height: 16px;
            background: url(../img/profile_edit.png) center/cover no-repeat;
        }
    }
}

.error {
    &__format {
        display: none;
        position: absolute;
        // content: "Image size must be at least 480x640 pixels";
        top: 50%;
        right: 35px;
        transform: translateY(-50%);
        line-height: 1;
        z-index: 3;

        .error & {
            display: inline-block;
        }

        @media screen and (max-width: 768px) {
            top: 100%;
            right: 50%;
            transform: translate(50%, 0);
            font-size: 13px;
        }
    }
}

/**image crop */
.image-cropper {
    &__editer {
        position: relative;
        width: 100%;
        max-width: 330px;
        height: 440px;
        margin: 20px auto;

        @media screen and (max-width: 576px) {
            max-width: 200px;
            height: 266px;
        }
    }

    &__desc {
        color: #8C8C8C;
        font-size: 15px;
        text-align: center;
        margin-bottom: 20px;
    }

    .cropper-crop-box {

        .cropper-dashed.dashed-h,
        .cropper-dashed.dashed-v {
            display: none;
        }

        .cropper-face {
            background: url(../img/picturemessage_oektxmjv.jeh.png) center/cover no-repeat;
            opacity: .5;
        }

        .cropper-line {
            background-color: transparent;
        }

        .cropper-view-box {
            outline: none;
        }
    }
}

.zoom {
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translate(0, -50%);
    width: 20px;
    height: 80%;
    padding: 30px 0;

    @media screen and (max-width: 576px) {
        right: -25px;
    }

    .ui-slider-vertical {
        width: 2px;
        background: #8C8C8C;
    }

    .ui-slider-vertical .ui-slider-handle {
        left: -.5em;
        height: 0.8em;
        background: #fff;
        border: 2px solid #acacac;
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        margin-bottom: -.3em;
    }

    &__range {
        height: 100%;
        margin: 0 auto;
    }

    &__icon {
        width: 20px;
        height: 20px;

        svg path {
            fill: #8C8C8C;
        }
    }

    &__in {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__out {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

/*fix grid in contest list*/
.contest-list {
    .registration_head {
        display: flex;
        flex-wrap: wrap;
    }

    .registration_timetable {
        width: 100%;
        flex: 1 1 auto;
        max-width: 100%;
    }

    .registration_title-wrap {
        width: 100%;
        flex: 1 1 0%;
        max-width: 100%;
    }

    .registration_status {
        width: auto;
        flex: 0 1 auto;
        max-width: 100%;
    }
}

/*end ТЗ этап 2*/