/*TZ 2-1*/

.registration_table {
    .status {
        width: auto;

        &.is-closed {
            color: #9ba9b6;
            border: none;
        }
    }
}

.scroll-top,
.scroll-bottom {
    display: block;
    position: relative;
    height: 20px;
    background-color: #f1f1f1;
    transition: background-color 0.3s;

    &::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &:hover {
        background-color: darken($color: #f1f1f1, $amount: 5);
    }
}

.scroll-top {
    border-bottom: 1px solid rgba(194, 196, 202, 0.3);
    border-radius: 4px 4px 0 0;

    &::before {
        background-image: url(../img/arrow.svg);
        transform: translate(-50%, -50%) rotate(180deg);
    }
}

.scroll-bottom {
    border-top: 1px solid rgba(194, 196, 202, 0.3);
    border-radius: 0 0 4px 4px;

    &::before {
        background-image: url(../img/arrow.svg);
    }
}

.form-select_menu.is_scroll {
    overflow: hidden;

    .form-select_menu-wrap {
        max-height: 118px;
        margin-right: -17px;
        overflow: auto;
    }
}

/*Registration will be closed должна быть всегда по центру*/
.data-table_head {
    justify-content: flex-start;
    flex-wrap: nowrap;

    .control,
    .status {
        margin-right: 10%;
    }

    .options {
        margin-left: auto;
    }

    @media screen and (max-width: 991px) {
        flex-wrap: wrap;

        .options {
            width: 100%;
            margin-left: 0;
        }
        .status {
            margin-right: 0;
        }
    }
}