@import "mixins";
@import "box-grid";

html {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #F9F9F9;
}
html,
body {
    display: flex;
  flex-direction: column;
  height: 100%;
}
* {
    box-sizing: inherit;

    &::after,
    &::before {
        box-sizing: inherit;
    }
}

a {
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.content {
    position: relative;
    padding: 20px 0;

    &_block {
        background-color: #FFFFFF;
        border: 1px solid rgba(229, 238, 245, 0.3799999952316284);
        border-radius: 4px;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.029999999329447746);
    }

    &_overlay {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #F9F9F9;
        z-index: 100;
    }

    ;
}

.wrapper {
    width: 100%;
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;

    &--lg {
        max-width: 1140px;
    }
}

.hidden {
    display: none !important;
}

.disabled {
    pointer-events: none !important;
}

.btn {
    @include btn($padding: 9px);
    font-size: 15px;
    font-weight: 400;
    background-color: transparent;
    border: transparent;
    border-radius: 3px;
    transition: all 0.3s;

    &--light {
        color: #8C8C8C;
        line-height: 20px;
        background-color: #FFFFFF;
        border: 1px solid #8C8C8C;
        box-shadow: -1px 0 1px 0 rgba(212, 212, 212, 0.5);

        &:hover {
            background-color: #F1F8FF;
        }
    }

    &--confirm {
        color: #FFFFFF;
        background-color: #FF9400;
        border: 1px solid #FF9400;

        &:hover {
            background-color: #F58F01;
        }
    }

    &--del {
        color: #C80901;
        padding-left: 0;
        padding-right: 0;
    }

    &--login {
        color: #FFFFFF;
        text-align: center;
        background-color: #0093EE;
        border: 1px solid rgba(0, 0, 0, 0.05000000074505806);
        box-shadow: inset -1px 1px 0 0 rgba(255, 255, 255, 0);
    }
}

.error {
    position: relative;
    color: #FF151F !important;

    &::after {
        position: absolute;
        content: "";
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 11px;
        height: 11px;
        background: #fff url(../img/error.svg) center no-repeat;
        background-size: contain;
        z-index: 3;
    }

    input,
    textarea {
        border: 1px solid #FF151F;
    }

    &_label {
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        color: #FF151F;
        font-size: 13px;
        font-weight: 400;
        line-height: 19px;
        text-align: right;
        visibility: hidden;
        z-index: 3;
    }

    &--format {
        .error_label {
            visibility: hidden;
        }

        .error_label--format {
            visibility: visible;
        }
    }
}

.upload {
    width: auto;
    flex: 0 0 auto;
    max-width: none;
    color: #00AFF5 !important;

    &:focus,
    &:visited,
    &:active {
        color: #00AFF5;
    }
}

.del {
    position: absolute;
    content: '';
    top: 0;
    right: -15px;
    width: 15px;
    height: 15px;
    background: url(../img/close-cross.png) center no-repeat;
    background-size: contain;
    z-index: 1;
}

.player {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    background: url(../img/play-stop.png) no-repeat;
    background-size: 435%;
    cursor: pointer;

    &--play {
        background-position: -70px 0;
    }

    &--stop {
        background-position: 0 0;
    }
}

form {
    label {
        color: #2C405A;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
    }

    input,
    input:focus,
    input:active {
        width: 100%;
        color: #3F536E;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        background-color: #FFFFFF;
        border: 1px solid #A8C6DF;
        border-radius: 4px;
        outline: none;
        padding: 10px 15px;

        &[type=file],
        &[type=checkbox],
        &[type=radio] {
            display: none;
        }

        &[type=checkbox] {
            &:checked {
                &+.form_check {
                    background: #0093EE url(../img/checked.png) center no-repeat;
                    box-shadow: inset -1px 1px 0 0 rgba(255, 255, 255, 0);
                }
            }
        }

        &[type=radio] {
            &:checked {
                &+.form_check {
                    position: relative;
                    background: #fff;
                    box-shadow: inset -1px 1px 0 0 rgba(255, 255, 255, 0);

                    &::after {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        content: "";
                        width: 10px;
                        height: 10px;
                        background: #0093EE;
                        border-radius: 50%;
                    }
                }
            }
        }

        &:-webkit-autofill {
            box-shadow: 0 0 0 30px white inset;
        }
    }
}

#ui-datepicker-div {
    background-color: #fff;
    border: 1px solid #A8C6DF;
    border-radius: 4px;
}

.ui-datepicker .ui-datepicker-next {
    background: url(../img/showIcon.png) center no-repeat;
}

.ui-datepicker .ui-datepicker-prev {
    transform: rotate(180deg);
    background: url(../img/showIcon.png) center no-repeat;
}

.ui-datepicker .ui-datepicker-current-day {
    background-color: #00AFF5;

    a {
        color: #fff;
    }
}

.form {
    &-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &.error {
            .error_label {
                visibility: visible;
            }

            &--format {
                .error_label {
                    visibility: hidden;
                }

                .error_label--format {
                    visibility: visible;
                }
            }
        }

        &:not(:last-child) {
            margin-bottom: 25px;
        }

        &_block {
            color: #2C405A;
            font-size: 15px;
            font-weight: 400;
            line-height: 18px;
            text-align: left;
            margin-left: 15px;
        }

        &_item {
            flex: 1 1 0%;
        }

        >label {
            width: 100%;
            flex: 1 1 0%;
            max-width: 200px;
        }
        &-wrap {
            padding: 25px 0;
            border-top: 1px solid rgba(194, 196, 202, 0.3);
            border-bottom: 1px solid rgba(194, 196, 202, 0.3);
            margin-bottom: 25px;
        }
    }

    &-control {
        position: relative;
        width: 100%;
        flex: 1 1 0%;
        max-width: 100%;
        min-height: 1px; // Prevent collapsing
    }

    &-date {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            width: 14px;
            height: 15.56px;
            background: url(../img/calend-small.png) center no-repeat;
            background-size: contain;
        }
    }

    &_check {
        position: relative;
        flex: 0 0 auto;
        width: 16px;
        height: 16px;
        background-color: #FFFFFF;
        border: 1px solid #A8C6DF;
        border-radius: 4px;

        &--radio {
            border-radius: 50%;
        }
    }

    .btn {
        width: 145px;

        &:not(:last-child) {
            margin-right: 15px;
        }

        &:active,
        &:focus {
            outline: none;
        }

        &-group {
            float: right;
        }

        &--del {
            width: auto;
        }
    }

    &-select {
        input {
            display: none;
        }

        label {
            display: block;
            color: #3F536E;
            font-size: 15px;
            font-weight: 400;
            line-height: 18px;
            text-align: left;
            padding: 10px 15px;
        }

        &_toggle {
            position: relative;
            display: block;
            color: #3F536E;
            font-size: 15px;
            font-weight: 400;
            line-height: 18px;
            text-align: left;
            background-color: #FFFFFF;
            border: 1px solid #A8C6DF;
            border-radius: 4px;
            padding: 10px 15px;
            min-height: 40px;

            &::after {
                position: absolute;
                content: '';
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #000000;
            }
        }

        &_menu {
            width: 100%;
            position: absolute;
            top: 40px;
            left: 0;
            background-color: #FFFFFF;
            border: 1px solid #A8C6DF;
            border-radius: 4px;
            z-index: 10;
        }

        &_item {
            &:not(:last-child) {
                border-bottom: 1px solid rgba(194, 196, 202, 0.3);
            }
        }
    }

    .img-preview {
        position: relative;
        flex: 0 1 auto;
        width: 75px;
        height: 95px;
        margin-right: 15px;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;
        }

        &--file {
            width: 20px;
            height: 20px;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    background: rgba($color: #000000, $alpha: 0.5);
}

.alert {
    position: relative;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    padding: 27px 11px;
    margin-top: 10px;

    &::before {
        position: relative;
        display: inline-block;
        content: '';
        width: 11px;
        height: 11px;
        background: url(../img/icon-error.svg) center/contain no-repeat;
        margin-right: 10px;
    }

    &--danger {
        color: #FFFFFF;
        background-color: #E27171;
    }

    &--warning {
        color: #FFFFFF;
        background-color: #FBB028;
    }
}

.bg-white {
    background: #fff;
}

.sort {
    &:hover {
        .sort_item {
            background: url(../img/arrow-col.jpg) center no-repeat;
            transition: 0.6s;
            transform: rotate(180deg);

            &.active {
                background: url(../img/arrow-col-active.jpg) center no-repeat;
            }
        }
    }

    .val {
        display: inline-block;
    }

    &_item {
        position: relative;
        display: inline-block;
        vertical-align: top;
        background: none;
        width: 10px;
        height: 10px;
        margin-top: 2px;

        &.active {
            background: url(../img/arrow-col-active.jpg) center no-repeat;
        }
    }

    .sort_item {
        &:hover {
            background: url(../img/arrow-col-active.jpg) center no-repeat;
            transform: rotate(0deg);
        }
    }
}

.right-align {
    text-align: right;
}

.copyright {
    position: relative;

    &::before {
        content: "\00A9";
        margin-right: 2px;
    }
}

@import "login";
@import "pagination";
@import "table";
@import "header";
@import "bread";
@import "registr";
@import "list";
@import "contest-head";
@import "popup";
@import "media-modal";
@import "media";
@import "_BUG-FIXES-15557";
@import "./BUG-FIXES";
@import "./TZ-2";
@import "./TZ2-1";